XMPPBaseProject/XMPPBaseProject.xcodeproj/project.xcworkspace/xcuserdata/hc.xcuserdatad/UserInterfaceState.xcuserstate
XMPPBaseProject/XMPPBaseProject.xcodeproj/xcuserdata/hc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
