<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XMPPBaseProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XMPPBaseProjectTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>475B932E1964E25100B464D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4799540E192463F200BE5282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47995424192463F200BE5282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBDCFCA618F52341008A4DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBDCFCC718F52342008A4DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
