<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<dict>
		<key>section0</key>
		<array>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>附近的人</string>
				<key>segue</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>yy_scan_normal</string>
				<key>title</key>
				<string>扫一扫</string>
				<key>segue</key>
				<string>optionToScan</string>
			</dict>
		</array>
		<key>section1</key>
		<array>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>2-0</string>
				<key>segue</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>2-1</string>
				<key>segue</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>2-2</string>
				<key>segue</key>
				<string></string>
			</dict>
		</array>
		<key>section2</key>
		<array>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>3-0</string>
				<key>segue</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>yy_file_normal</string>
				<key>title</key>
				<string>3-1</string>
				<key>segue</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
